{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1><span id="js-rotating">Finance, Programming, Photography, Sports</span>
                            </h1>
                            <h4 class="p-heading p-large"> Don't stop at my hobbies! </h4>
                            <a class="btn-solid-lg page-scroll" href="#intro">More</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title"> About me</div>
                        <h2>Quantitative Developer/ Software Engineer</h2>
                        <p> Developing software, libraries and exploring data is what I like todo daily. Finance is
                            evolving
                            rapidly with the use of machine learning, deep learning or natural language processing and
                            I want to be part of this evolution! </p>
                        <p class="testimonial-text">"“Many investment managers believe that the secret to riches is to
                            implement an extremely complex ML algorithm. They are setting themselves up for a
                            disappointment. If it was as easy as coding a state-of-the-art classifier, most people in
                            Silicon Valley would be billionaires.”"</p>
                        <div class="testimonial-author">Marco Lopez de Prado</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'website/images/Benjamin1.jpg' %}" width="450"
                             height="500"
                             alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->

    <!-- Education & Work Experience -->
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="tabs">
                    <div class="tabs-container">
                        <h2>Education</h2>
                        <!-- Tabs Links -->
                        <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                                   aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> Illinois
                                    Institute of Technology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                                   aria-controls="tab-2"
                                   aria-selected="false"><i class="fas fa-th"></i> Enseirb-Matmeca, Bordeaux INP</a>
                            </li>
                        </ul>
                        <!-- end of tabs links -->

                        <!-- Tabs Content -->
                        <div class="tab-content" id="ariaTabsContent">

                            <!-- Tab -->
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                                <h4>Master's of Computer Science with Specialization in Finance, Chicago</h4>
                                <h5 style="color: #6c757d"> August 2018-August 2019</h5>
                                <p>
                                    This Master is designed to enable
                                    computer science students to further their technical education while opening a path
                                    toward a career in finance.

                                </p>

                                <!-- Progress Bars -->
                                <div class="title">GPA Computer Science (Major)</div>
                                <div class="w3-light-grey w3-round-xlarge">
                                    <div class="w3-container  w3-round-xlarge w3-center"
                                         style="width:88.75%; background-color: #1bd1a7">
                                        3.55/4
                                    </div>
                                </div>
                                <br>
                                <div class="title">GPA Finance (Minor)</div>
                                <div class="w3-light-grey w3-round-xlarge">
                                    <div class="w3-container  w3-round-xlarge w3-center"
                                         style="width:91.5%; background-color: #1bd1a7">
                                        3.66/4
                                    </div>
                                </div>
                                <!-- end of tab -->
                            </div>
                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                                <h4>Master's of Telecommunication engineering</h4>
                                <h5 style="color: #6c757d"> September 2016-September 2019</h5>
                                <p>
                                    This Master is centered around:
                                <ul>
                                    <li>Mathematics engineering & Signal Processing</li>
                                    <li>Computer science & networks</li>
                                    <li>Wireless Communication</li>
                                </ul>

                                </p>

                                <!-- Progress Bars -->
                                <div class="title"> Average Grade</div>
                                <div class="w3-light-grey w3-round-xlarge">
                                    <div class="w3-container  w3-round-xlarge w3-center"
                                         style="width:73%; background-color: #1bd1a7">14.4/20
                                    </div>
                                </div>

                                <!-- end of progress bars -->
                            </div>

                        </div>
                        <!-- end of tabs content -->
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="accordion">

                    <!-- Accordion -->
                    <div class="accordion-container" id="accordionOne">
                        <h2>Work Experience</h2>

                        <div class="item">
                            <div id="headingOne">
                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                              aria-controls="collapseOne" role="button">
                            <span class="accordion-title">How Can Aria Help Your Business</span>
                        </span>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionOne">
                                <p>
                                    At Aria solutions, we’ve taken the consultancy concept one step further by
                                    offering
                                    a
                                    full
                                    service management organization with expertise.
                                </p>


                            </div>
                        </div> <!-- end of item -->

                        <div class="item">
                            <div id="headingTwo">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                              aria-controls="collapseTwo" role="button">
                            <span class="accordion-title">Great Strategic Business Planning</span>
                        </span>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionOne">
                                <p>
                                    Aria partners with businesses to business growth and development ideas including
                                    environment
                                    analysis, plan execution and evaluation.
                                </p>
                            </div>
                        </div> <!-- end of item -->

                        <div class="item">
                            <div id="headingThree">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                              aria-expanded="false" aria-controls="collapseThree" role="button">
                            <span class="accordion-title">Online Marketing Campaigns</span>
                        </span>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionOne">
                                <p>
                                    An awesome online marketing plan won't save your bad product but paired with a
                                    good
                                    product,
                                    the
                                    sky is the limit for what can be achieved.
                                </p>
                            </div>
                        </div> <!-- end of item -->
                    </div> <!-- end of accordion-container -->
                    <!-- end of accordion -->

                </div> <!-- end of area-2 -->
            </div>
        </div>
    </div>
    <!-- end of Education & Work Experience-->

    <!-- Programming Competences -->
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Competences</h2>
                </div> <!-- end of col -->
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/python.png' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">Python</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/c_sharp.png' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">C#</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/sql.png' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">SQL</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/git.png' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">Git</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/excel.png' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">Excel</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/ppt.png' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author"> PowerPoint
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of sliedr-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div>
    </div>
    <!--end of Programming competences -->

    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-list-alt fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Certifications</h4>
                            <p>I am currently holding 2 certifications:<br>
                            <ul><strong>AMF:</strong> it constitutes clear recognition of a core of professional
                                knowledge
                                and strengthens the quality and uniformity of the investment advice given to clients
                                in
                                France.
                            </ul>
                            <ul><strong>ISO - 9001:</strong> This is the international standard for a quality
                                management
                                system (“QMS”).
                                .
                            </ul>
                            <br>
                            I am current preparing the <strong>FRM</strong> (Financial Risk Management)
                            certification.
                            </p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-comments fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Languages</h4>
                            <p>
                                <strong>French: </strong> This is my mother tongue.<br><br>
                                <strong>English: </strong> I am fluent in english. After spending 2 years in the US,
                                I feel very comfortable working with english speakers independently of their accent.<br><br>
                                <strong>Spanish:</strong>I am able to hold a short and common discussion with
                                someone
                                in the street.
                            </p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-heart fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Hobbies</h4>
                            <p>
                                <strong>Sports:</strong>I 've play tennis competitively for more than 15 years. I
                                also
                                enjoy
                                team sports such as soccer, rugby or basketball.<br><br>

                                <Strong>Photography:</Strong> I started photography when I was in the United-States
                                in
                                2020
                                and I really enjoyed the process of taking a picture. I would say that it helped me
                                to
                                be
                                more creative! I also fly drone and might use that as a side business really
                                soon!<br><br>
                            </p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->

    <!-- Projects -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 style="color: #14bf98">Projects</h3><br>

                    </div>
                    <div style="alignment: center">
                        <p><h5>Carried out on my free time or during:</h5>
                        <ul>
                            <li>Research Experience at Illinois Tech</li>
                            <li>Free Time</li>
                        </ul>

                        </p><br>
                    </div>

                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'website/images/services-1.jpg' %}"
                                 alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Risk Management using Gaussian Mixture Model (GMM) </h3>
                            <p>Perfect for fresh ideas or young startups, this package will help get the business
                                off
                                the
                                ground</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Environment and competition</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Designing the marketing plan</div>
                                </li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">Link</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'website/images/services-2.jpg' %}"
                                 alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Detection of markov switching regime</h3>
                            <p>Use this service pack to give your company the necessary impulse to become an
                                industry
                                leader</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Business strategy planning</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Taking the planned actions</div>
                                </li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">Link</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'website/images/services-3.jpg' %}"
                                 alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">RIHANNA</h3>
                            <p>You already are a reference point in your industry now you need to learn about
                                acquisitions</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Maintaining the leader status</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Acquisitions the right way</div>
                                </li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">Link</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of Projects -->


    <!-- Testimonials -->
    <div class="slider" style="background: linear-gradient(whitesmoke,white)" >

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Testimonials</h2>
                    <p class="p-heading">Our clients are our partners and we can not imagine a better future for our
                        company
                        without helping them reach their objectives</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/testimonial-1.jpg' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">The guys from Aria helped with getting my
                                                business
                                                off the ground and turning into a profitable company.
                                            </div>
                                            <div class="testimonial-author">Jude Thorn - Founder</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/testimonial-2.jpg' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I purchased the Growth Accelerator service
                                                pack a
                                                few years ago and I renewed the contract each year.
                                            </div>
                                            <div class="testimonial-author">Marsha Singer - Marketer</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/testimonial-3.jpg' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">Aria's CEO personally attends client
                                                meetings
                                                and
                                                gives his feedback on business growth strategies.
                                            </div>
                                            <div class="testimonial-author">Roy Smith - Developer</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/testimonial-4.jpg' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">At the beginning I thought the prices are
                                                a
                                                little
                                                high for what they offer but they over deliver each and every time.
                                            </div>
                                            <div class="testimonial-author">Ronald Spice - Owner</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/testimonial-5.jpg' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I recommend Aria to every business owner
                                                or
                                                growth
                                                leader that wants to take his company to the next level.
                                            </div>
                                            <div class="testimonial-author">Lindsay Rune - Manager</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image"
                                             src="{% static 'website/images/testimonial-6.jpg' %}"
                                             alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">My goals for using Aria's services seemed
                                                high
                                                when I first set them but they've met them with no problems.
                                            </div>
                                            <div class="testimonial-author">Ann Black - Consultant</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of sliedr-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider -->
    <!-- end of testimonials -->


    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACT</div>
                        <h2>Get In Touch Using The Form</h2>
                        <p>You can stop by our office for a cup of coffee and just use the contact form below for
                            any
                            questions and inquiries</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>22nd Innovative Street, San
                                Francisco,
                                CA 94043, US
                            </li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820">+81 720 22 126</a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820">+81 720 22 128</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:office@aria.com">office@aria.com</a>
                            </li>
                        </ul>
                        <h3>Follow Aria On Social Media</h3>

                        <span class="fa-stack">
                            <a href="">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack">
                            <a href="">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="">
                                <span class="hexagon"></span>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="">
                                <span class="hexagon"></span>
                                <i class="fab fa-behance fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">

                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I agree with Aria's
                            stated
                            <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms
                            Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->

{% endblock %}